<%= stylesheet_link_tag "top/top", :media => "all" %>

<div class="container-fluid">
	<div class="row main-visual">
		<div class="col-lg-6 background">
			<div class="box">
				<h1>Pressure</h1>
				<p>Find me in app/views/root/top.html.erbFind me in app/views/root/top.html.erbFind me in app/views/root/top.html.erbFind me in app/views/root/top.html.erbFind me in app/views/root/top.html.erbFind me in app/views/root/top.html.erb</p>
				<%= link_to 'Register', new_user_registration_path, class: "btn btn-primary register" %>
				<%= link_to 'Log in', new_user_session_path, class: "btn btn-success sign-in" %>
			</div>
		</div>
	</div>
	<div class="row contents">
		<div class="">
		</div>
	</div>
</div>
