.overview{
	// ヘッダー調整+空白
	// margin-top: 70px;
}
.chart{
	float: left;
	position: relative;
	margin: 20px;
	width: 240px;
	height: 240px;
}

.circle-mask-inner{
	overflow: hidden;
	position: absolute;
	width: 120px;
	height: 240px;
}
.circle-mask-outer{
	overflow: hidden;
	position: absolute;
	width: 120px;
	height: 240px;
}
// 左外側のマスク
.circle-mask-outer.left{
	left: 0;
}
// 右外側のマスク
.circle-mask-outer.right{
	right: 0;
}
// 内側のマスク
.circle-mask-inner{
	// -webkit-transform: rotate(0);
	// -ms-transform: rotate(0);
	transform: rotate(0);
}
// 左内側のマスク
.circle-mask-outer.left .circle-mask-inner{
	left: 100%; //left:120px
	// -webkit-transform-origin: 0 50%;
	// -ms-transform-origin: 0 50%;
	transform-origin: 0 50%;
}
// 右内側のマスク
.circle-mask-outer.right .circle-mask-inner{
	right: 100%; //right:120px
	// -webkit-transform-origin: 100% 50%;
	// -ms-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
}

// 円
.circle-body{
	border-radius: 50%;
	position: absolute;
	width: 240px;
	height: 240px
}
.circle-mask-outer.left .circle-body{
	// left内で一番右？
	right: 0;
}
.circle-mask-outer.right .circle-body{
	left: 0;
}
#water .circle-body{
	background-color: #00ADA9;
}
#sunshine .circle-body{
	background-color: #ADAB00;
}

// 情報
.chart-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 180px;
    height: 180px;
    background-color: #fff;
    border-radius: 50%;
    padding-top: 40px;
    text-align: center;
    -webkit-backface-visibility: hidden;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
.chart-content .icon {}
.chart-content .text { 
    left: 5px;
    line-height: 1;
    position: relative;
    margin-top: 15px;
}

.chart-content .percent-number {
    font-size: 20px;
    font-weight: bold;
}
.chart-content .percent-symbol {
    font-size: 15px;
}





